<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wukong.ttravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->


    <application
        tools:replace="android:icon"
        android:name=".Base.TTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".service.home.activity.SplashActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity android:name=".service.home.activity.TailorIndexActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.home.activity.CommentListActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.discover.activity.DiscoverDetailActivity" android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity android:name=".service.message.activity.ChatActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.login.activity.LoginActivity" android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity android:name=".service.my.activity.MeHelpActivity" android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".service.login.activity.FastLoginActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.login.activity.ResetPasswordActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.login.activity.RegisterActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.login.activity.UserProtocolActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.order.activity.PostCommentActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.MeDetailActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.RealNameCertActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.my.activity.TTAboutActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.SettingActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.TxSettingActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.TxChangeActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.my.activity.PayPasswordChangeActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.PayPasswordSettingActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.my.activity.BlackListActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.my.activity.MeWalletActivity" android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".service.my.activity.MeTxActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.home.activity.TailorLineDetailActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.test.CanlendarTestActivity" android:theme="@style/AppTheme.NoActionBar">


        </activity>


        <activity android:name=".service.trade.activity.PreBookTailorActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.home.activity.CityListActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.home.activity.CityTailorListActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".service.trade.activity.PreBookConfirmActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".service.custom.activity.PublishServiceActivity" android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>

        <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->


    </application>

</manifest>
